@font-face {font-family: "iconfont";
  src: url('font/font_1173705_wg9hwew4r3.eot'); /* IE9 */
  src: url('font/font_1173705_wg9hwew4r3.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('font/font_1173705_wg9hwew4r3.woff2') format('woff2'),
  url('font/font_1173705_wg9hwew4r3.woff') format('woff'),
  url('font/font_1173705_wg9hwew4r3.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('font/font_1173705_wg9hwew4r3.svg#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 15px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-database:before {
  content: "\e632";
}
.icon-full:before{
  content: '\e633';
}
.icon-json:before{
  font-size: 26px;
  content: '\e634';
}
